@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.scroll-animation-top {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
}

.scroll-animation-bottom {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

.scroll-animation-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.scroll-animation-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.box-shadow {
    -webkit-box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09) !important;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09) !important;
}

#header {
    --bs-bg-opacity: 0;
    transition: all .6s;
    background-color: rgba(var(--bs-body-color-rgb), var(--bs-bg-opacity)) !important;
}

#header.show {
    --bs-bg-opacity: 1;
}

#header.sticky {
    --bs-bg-opacity: 0.75;
}

#header .nav-link {
    color: var(--bs-tertiary-bg);
}

#header .nav-link.active {
    color: var(--bs-body-bg);
    font-weight: 900;
    padding-right: 1rem;
    padding-left: 1rem;
}

#header .navbar-toggler {
    border: var(--bs-border-width) solid var(--bs-secondary-bg);
}

.navbar-brand {
    position: relative;
    font-weight: 500;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    border-style: solid;
    padding: 5px;
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentcolor;
}

#Home {
    background-image: url(../images/boyBg.JPG);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
    background-attachment: fixed;
    /* background-color: var(--bs-emphasis-color); */
}

#Home img {
    -webkit-box-shadow: 6px 4px 41px -24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 4px 41px -24px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 4px 41px -24px rgba(0, 0, 0, 0.75);
}

@media (min-width: 1200px) {
    #Home .container:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: calc(50% + 20px);
        background-color: var(--bs-body-bg);
    }
}

#Home .pim p {
    font-weight: 700;
    border-bottom: 1px solid var(--bs-secondary);
}

#Home .pim p span {
    font-weight: 600;
    margin-left: 4px;
}

.btn1 {
    background-color: var(--bs-body-bg);
    color: var(--bs-emphasis-color);
}

.btn1:hover {
    background-color: transparent;
    color: var(--bs-body-bg);
    border: 1px solid var(--bs-body-bg);
}

.btn2 {
    color: var(--bs-body-bg);
    border-radius: 4px;
    border: 1px solid var(--bs-body-bg);
}

.btn2:hover {
    background-color: var(--bs-body-bg);
    color: var(--bs-emphasis-color);
}

@media (max-width: 991px) {
    .btns {
        text-align: center;
    }
}

#About img {
    -webkit-box-shadow: 6px 4px 41px -24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 4px 41px -24px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 4px 41px -24px rgba(0, 0, 0, 0.75);
}

#About .progress span {
    color: var(--bs-body-bg);
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

.progress {
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;

}

.pro-value1 {
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: var(--bs-body-color);
    height: 25px;
    width: 0;
}

.pro-value2 {
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: var(--bs-body-color);
    height: 25px;
    width: 0;
}

.pro-value3 {
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: var(--bs-body-color);
    height: 25px;
    width: 0;
}

.pro-value4 {
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color: var(--bs-body-color);
    height: 25px;
    width: 0;
}

.progress p {
    color: var(--bs-body-bg);
    padding: 5px;
}

@keyframes load1 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes load2 {
    0% {
        width: 0;
    }

    100% {
        width: 85%;
    }
}

@keyframes load3 {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}

@keyframes load4 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

#Learn a.card {
    text-decoration: none;
    height: 100%;
}

#Learn .card {
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09);
}

#Learn .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Learn .card-text {
    padding-top: 12px;
    color: #8c8c8c;
}

.head-icon {
    margin-top: 18px;
    color: var(--bs-dark);
}

#Portfolio .portfolio-item-inner {
    border: 1px solid var(--bs-tertiary-color);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

#Portfolio .portfolio-item-inner .portfolio-img img {
    width: 100%;
    display: block;
}

/* -------------------------- */

.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
}

.timeline__content-title {
    font-weight: normal;
    font-size: 66px;
    margin: -10px 0 0 0;
    transition: 0.4s;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", sans-serif;
    color: #fff;
}

.timeline__content-desc {
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-family: Cardo;
    font-weight: normal;
    line-height: 25px;
}

.timeline:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, 0.07);
}

@media only screen and (max-width: 767px) {
    .timeline:before {
        left: 40px;
    }
}

.timeline-item {
    padding: 40px 0;
    opacity: 0.3;
    filter: blur(2px);
    transition: 0.5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
}

.timeline-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-family: "Pathway Gothic One", sans-serif;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
}

.timeline-item:nth-child(even) {
    align-self: flex-end;
}

.timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
}

.timeline-item--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}

.timeline-item--active:before {
    top: 50%;
    transition: 0.3s all 0.2s;
    opacity: 1;
}

.timeline-item--active .timeline__content-title {
    margin: -50px 0 20px 0;
}

@media only screen and (max-width: 767px) {
    .timeline-item {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
    }

    .timeline-item:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
    }

    .timeline-item:last-child {
        padding-bottom: 40px;
    }
}

.timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.timeline-container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    transition: 0.3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
}

.timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 99, 99, 0.8);
    content: "";
}

.timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}

.timeline-header__title {
    color: #fff;
    font-size: 46px;
    font-family: Cardo;
    font-weight: normal;
    margin: 0;
}

.timeline-header__subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
}

/* -------------------------- */

#Picture #filter-btn .btn {
    border: 2px solid var(--bs-body-color);
    border-radius: 0;
    padding: 0.475rem 1rem;
    margin-bottom: 1.5rem;
    --bs-btn-color: var(--bs-emphasis-color);
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: var(--bs-body-bg);
    background-color: var(--bs-emphasis-color);
}

#Picture #filter-btn #picture-filter .filter-img {
    overflow: hidden;
    cursor: pointer;
}

#picture-filter .filter-img.show {
    animation: animate 0.4s ease;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

#picture-filter img {
    object-fit: cover;
    transition: all 0.3s ease;
}

#picture-filter img:hover {
    transform: scale(1.1);
}

#picture-filter .filter-img.hide {
    display: none;
}

#img-modal .modal-img {
    max-height: 79vh;
}

@media (min-width: 767.98px) {
    #img-modal .modal-content {
        height: 90vh;
    }
}

.carousel-inner>.carousel-item {
    height: 100%;
}

.carousel-inner .carousel-item img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#img-modal .modal-body {
    padding: 0;
}

.modal-backdrop.show {
    opacity: 0.9;
}

/* ------------Contact-------------- */

#Contact {
    background: var(--bs-tertiary-bg);
    color: var(--bs-body-color);
}

#Contact .button {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 10px;
    overflow: hidden;
    background: var(--bs-body-bg);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

#Contact a {
    text-decoration: none;
    color: var(--bs-body-color);
}

#Contact .button:hover {
    width: 250px;
}

#Contact .button .icon {
    display: inline-block;
    height: 70px;
    width: 70px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 70px;
    transition: all 0.3 ease-out;
}

#Contact .button:nth-child(1):hover .icon {
    background: #499F68;
}

#Contact .button:nth-child(2):hover .icon {
    background: #157A6E;
}

#Contact .button:nth-child(3):hover .icon {
    background: #4267B2;
}

#Contact .button:nth-child(4):hover .icon {
    background: #C13584;
}

#Contact .button:nth-child(5):hover .icon {
    background: #1d1a1a;
}

#Contact .button .icon i {
    font-size: 25px;
    line-height: 70px;
    transition: all 0.3s ease-out;
}

#Contact .button:hover .icon i {
    color: #fff;
}

#Contact .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 70px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

#Contact .button:nth-child(1) span {
    color: #499F68;
}

#Contact .button:nth-child(2) span {
    color: #157A6E;
}

#Contact .button:nth-child(3) span {
    color: #4267B2;
}

#Contact .button:nth-child(4) span {
    color: #C13584;
}

#Contact .button:nth-child(5) span {
    color: var(--bs-body-color);
}

@media (max-width: 576px) {
    #Contact #wrapper {
        flex-direction: column;
    }

    #Contact .button {
        width: 250px;
    }

    #Contact .button .icon i {
        color: #fff;
    }

    #Contact .button:nth-child(1) .icon {
        background: #499F68;
    }

    #Contact .button:nth-child(2) .icon {
        background: #157A6E;
    }

    #Contact .button:nth-child(3) .icon {
        background: #4267B2;
    }

    #Contact .button:nth-child(4) .icon {
        background: #C13584;
    }

    #Contact .button:nth-child(5) .icon {
        background: #1d1a1a;
    }
}


.to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    background: var(--bs-emphasis-color);
    bottom: 5px;
    right: 10px;
    color: var(--bs-body-bg);
    font-size: 22px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .6s;
}

.to-top.active {
    bottom: 10px;
    pointer-events: auto;
    opacity: 1;
}

.to-top:hover {
    background: var(--bs-body-bg);
    color: var(--bs-emphasis-color);
}

@media (prefers-reduced-motion: no-preference) {

    .scroll-animation-top,
    .scroll-animation-bottom,
    .scroll-animation-left,
    .scroll-animation-right {
        transition: all 1s;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

[data-bs-theme="light"] .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

[data-bs-theme="dark"] .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* -------------------Resume---------------------- */

@media (min-width: 576px) {
    #resume {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#resume .page {
    background: white;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

#resume .page[size="A4"] {
    width: auto;
    height: auto;
}

@media (min-width: 768px) {
    #resume .page[size="A4"] {

        width: 21cm;
        height: 29.7cm;
    }
}

#resume .profileText {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#resume .imgBx {
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}

#resume  h2 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.4em;
}

#resume  h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

#resume .left_Side {
    padding-top: 40px;
}

#resume .title {
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

#resume .left_Side ul {
    padding: 0;
}

#resume ul li {
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#resume ul li i {
    width: 20px;
    color: #03a9f4;
}

#resume .left_Side .education li h6 {
    color: #03a9f4;
    font-weight: 500;
    font-size: 1rem;
}

#resume .left_Side .education li h5:nth-child(2) {
    font-weight: 500;
}

#resume .left_Side .education li h5 {
    font-weight: 300;
}

#resume .left_Side .certificate span {
    font-weight: 300;
    font-size: 13px;
}

#resume .about {
    margin-bottom: 30px;
}

#resume .about:last-child {
    margin-bottom: 0;
}

#resume .title2 {
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#resume .about .box {
    margin: 15px 0;
}

#resume .about h5 {
    color: #848c90;
    font-weight: 600;
    font-size: 15px;
}

#resume .about h4 {
    color: #2a7da2;
    font-size: 16px;
    font-weight: 800;
}

#resume  .box {
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

#resume  .box h4 {
    text-transform: uppercase;
    color: #848c99;
    font-size: 16px;
}

#resume  .box .percent {
    position: relative;
    height: 10px;
    background: #f0f0f0;
    border-radius: 50px;
}

#resume  .box .percent div {
    height: 100%;
    background: #03a9f4;
    border-radius: 50px;
}

#resume  .box .percent span {
    position: absolute;
    right: 0;
    top: -10px;
}

#resume .interest i {
    color: #03a9f4;
    font-size: 18px;
}

span.spacer:after {
    display:inline-block;
    width:100%;
    content:".";
    font-size:0;
    height:2px;
    background:#000;
}

#page2 #dividing_line {
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
}

@media (min-width: 768px) {
    #page2 #dividing_line {
        width: 1px;
        height: 99%;
        left: 50%;
        top: 0;
    }
}

#page2 ul li {
    margin: 4px 0;
}

#page2 .box {
    padding-inline: 0.25em;
}

#page2 .box .percent {
    margin-bottom: 0.5rem;
}