@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.scroll-animation-top {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
}

.scroll-animation-bottom {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

.scroll-animation-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.scroll-animation-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

#header {
    --bs-bg-opacity: 0;
    transition: all .6s;
}

#header.sticky {
    --bs-bg-opacity: 0.75;
}

.navbar-brand {
    position: relative;
    font-weight: 500;
    color: var(--bs-white);
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    border-style: solid;
    padding: 5px;
}

#Home {
    background-image: url(../images/boyBg.JPG);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
    background-attachment: fixed;
}

#Home img {
    -webkit-box-shadow: 6px 4px 41px -24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 4px 41px -24px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 4px 41px -24px rgba(0, 0, 0, 0.75);
}

@media (min-width: 1200px) {
    #Home .container:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;   
        height: calc(50% + 20px);
        background-color: #fff;
    }
}

#Home .pim p {
    font-weight: 600;
    border-bottom: 1px solid var(--bs-secondary);
}

#Home .pim p span {
    font-weight: 300;
    color: var(--bs-gray-400);
    margin-left: 4px;
}

@media (max-width: 991px)
{
    .btns {
        text-align: center;
    }
}

#About img {
    -webkit-box-shadow: 6px 4px 41px -24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 4px 41px -24px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 4px 41px -24px rgba(0, 0, 0, 0.75);
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

.progress {
    background-color: rgb(223, 219, 219);
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;

}

.pro-value1 {
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.pro-value2 {
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.pro-value3 {
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.pro-value4 {
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.progress p {
    color: white;
    padding: 5px;
}

@keyframes load1 {
    0% {
        width: 0;
    }

    100% {
        width: 95%;
    }
}

@keyframes load2 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes load3 {
    0% {
        width: 0;
    }

    100% {
        width: 98%;
    }
}

@keyframes load4 {
    0% {
        width: 0;
    }

    100% {
        width: 92%;
    }
}

.btn1 {
    height: 40px;
    width: 145px;
    outline: none;
    border: none;
    background-color: white;
    color: black;
    border-radius: 4px;
}

.btn1:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: .5s;
}

.btn2 {
    height: 40px;
    width: 145px;
    outline: none;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 4px;
}

.btn2:hover {
    background-color: white;
    color: black;
    border: none;
    transition: .5s;
}

#Learn a.card {
    text-decoration: none;
}

#Learn .card {
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09);
}

#Learn .box-shadow {
    -webkit-box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09) !important;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09) !important;
}

#Learn .card-text {
    padding-top: 12px;
    color: #8c8c8c;
}

.head-icon {
    margin-top: 18px;
    color: var(--bs-dark);
}


#Portfolio .card {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

#Portfolio .card .card-image {
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

#Portfolio .card img {
    width: 100%;
    height: auto;
}

#Portfolio .card .card-image .card-caption {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgb(33 33 33 / 50%);
    font-weight: 700;
}

.to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    background: var(--bs-dark);
    bottom: 5px;
    right: 10px;
    color: var(--bs-white);
    font-size: 22px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .6s;
}

.to-top.active {
    bottom: 10px;
    pointer-events: auto;
    opacity: 1;
}

.to-top:hover {
    background: var(--bs-white);
    color: var(--bs-dark);
}

@media (prefers-reduced-motion: no-preference) {

    .scroll-animation-top,
    .scroll-animation-bottom,
    .scroll-animation-left,
    .scroll-animation-right {
        transition: all 1s;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}