{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section id="Home" class="overflow-hidden">
    <div class="container py-5">
        <div class="row mt-5 text-light">
            <div class="col-xl-9 col-lg-8 order-lg-2 py-3">
                <h1 class="scroll-animation-right">陳友亮 </h1>
                <p>國立台北商業大學 二技資訊管理系</p>

                <div class="row pim">
                    <div class="col-md-6">
                        <p>生日 : <span>2000年10月24日</span></p>
                        <p>性別 : <span>男</span></p>
                        <p>連絡電話 : <span>0974141514</span></p>
                    </div>
                    <div class="col-md-6">
                        <p>Email : <span>amisleo000@gmail.com</span></p>
                        <p>學歷 : <span>學士學位</span></p>
                        <p>居住地 : <span>桃園市</span></p>
                    </div>
                </div>
                <div class="btns">
                    <input type="button" class="btn1" value="Download C.V">
                    <input type="button" class="btn2" value="Contact Us">
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 scroll-animation-left order-lg-1 ">
                <img src="{{ url_for('static', filename='images/handsomeBoy.JPG') }}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<section id="About" class="py-5 overflow-hidden">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12 order-lg-2">
                <h1 class="scroll-animation-right">關於我.</h1>
                <p>你好!我是<span class="font-weight-bold">陳友亮</span></p>
                <p class="py-3 scroll-animation-bottom"> 目前為臺北商業大學資訊管理系大四的在學生
                    個性活潑開朗，喜歡與人聊天，在社交媒體上時常分享生活大小事，
                    在學期間對網頁前端 HTML、CSS、JavaScript 有相關經驗，
                    因本身對於影音製作以及視覺藝術有極大的熱忱，所以在前端網頁開發上非常有興趣。
                    這是二技校內專題所製作的網站，「警醒式遠距教學系統」。
                    經過這次經驗，發現設計網頁到開發的過程，時間成本非常高，
                    所以現在主要都在使用 Bootstrap 來開發網頁。
                </p>
                <div class="progress">
                    <div class="pro-value1 px-2">
                        <p>HTML / CSS <span class="text-white float-end">95%</span></p>
                    </div>
                </div>
                <div class="progress my-3">
                    <div class="pro-value2 px-2">
                        <p>PHP / MYSQL <span class="text-white float-end">80%</span></p>
                    </div>
                </div>
                <div class="progress">
                    <div class="pro-value3 px-2">
                        <p>BOOTSTRAP <span class="text-white float-end">98%</span></p>
                    </div>
                </div>
                <div class="progress my-3">
                    <div class="pro-value4 px-2">
                        <p>JAVASCRIPT / JQUERY <span class="text-white float-end">92%</span></p>
                    </div>
                </div>

                <div>
                    <span class="rounded-pill px-2" style="background-color: #f3f3f3; color: #7e7e7e;">反思自省</span>
                    <span class="rounded-pill px-2" style="background-color: #f3f3f3; color: #7e7e7e;">樂於學習</span>
                    <span class="rounded-pill px-2" style="background-color: #f3f3f3; color: #7e7e7e;">享受生活</span>
                    <span class="rounded-pill px-2" style="background-color: #f3f3f3; color: #7e7e7e;">自主思考</span>
                    <span class="rounded-pill px-2" style="background-color: #f3f3f3; color: #7e7e7e;">熱忱與活力</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Learn" class="py-5 bg-light sevices">
    <div class="container py-5">
        <h1 class="text-center pb-5">學習.</h1>
        <div class="row pt-5 mt-30">
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="#">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;">
                        <i class="fa fa-desktop fa-3x head-icon"></i>
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">前端程式語言</h3>
                        <p class="card-text text-sm">HTML、CSS 是最常接觸的前端語言，
                            而開始認識 JavaScript 這三大前端語言之後，慢慢愛上了它，
                            喜歡視覺藝術的我，對動態效果、動畫的呈現深深吸引住了，
                            雖然是喜歡，但主要是與使用者互動，讓每一位使用者得到最好的閱覽體驗。</p><span
                            class="text-sm text-uppercase font-weight-bold">了解更多<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="#">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;">
                        <i class="fa-brands fa-bootstrap fa-3x head-icon"></i>
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">Bootstrap</h3>
                        <p class="card-text text-sm">要做 RWD 響應式設計，我推薦 Bootstrap ，這是我目前開發網頁最喜愛的前端框架之一，
                            可以同時套用在不同平台上，提升了開發的效率，降低時間成本。 Bootstrap
                            + 自己寫的 CSS ，完美打造出客製化的網站。
                        </p><span class="text-sm text-uppercase font-weight-bold">了解更多<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="#">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;">
                        <i class="fa-solid fa-database fa-3x head-icon"></i>
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">Database</h3>
                        <p class="card-text text-sm"> 先從Office 工具最基本的 Excel 資料分析 與 Access 資料庫 學起，
                            再來是最熟悉的 MySql ，搭配 Navicat 圖形化資料庫管理及發展軟體，
                            最後運用 Firebase 搭配 Android 開發，透過免費的開發下而接觸學習 NoSQL。
                        </p><span class="text-sm text-uppercase font-weight-bold">了解更多<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="#">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;"><i
                            class="fa-solid fa-code fa-3x head-icon"></i>
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">後端程式語言</h3>
                        <p class="card-text text-sm">曾學過的語言有 Visual basic 、 C語言 、 在 Unity 上編寫的腳本 C# 、
                            Java 、 Node.js 以及 目前最流行的 Python 語言，</p><span
                            class="text-sm text-uppercase font-weight-bold">了解更多<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="#">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;"><i
                            class="fa-solid fa-mobile fa-3x head-icon"></i></div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">Android 開發</h3>
                        <p class="card-text text-sm">五專專題曾用過 Android Studio 開發手機 App ，
                            打造出完美斷食計畫，搭配優美UI介面，幫助使用者更快設定好自己訂製的計畫。

                        </p><span class="text-sm text-uppercase font-weight-bold">了解更多<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="#">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;">
                        <i class="fa fa-video-camera fa-3x head-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">影音製作</h3>
                        <p class="card-text text-sm">因個人愛好而言，拍攝照片及影片，再將其後製成自己喜歡的樣子，就像 UI 設計一樣，讓整個畫面變得更好看更有藝術感。
                            音樂也是不可少的，打造出視覺與聽覺上的衝擊。
                        </p><span class="text-sm text-uppercase font-weight-bold">了解更多<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="Portfolio" class="py-5">
    <div class="container">
        <h1 class="text-center">作品集.</h1>
        <p class="text-center pb-5">我之前的作品.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="portfolio-item-inner box-shadow p-2">
                    <div class="portfolio-img">
                        <img class="img-fluid" src="{{ url_for('static', filename='images/boyBg.JPG') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portfolio-item-inner box-shadow p-2">
                    <div class="portfolio-img">
                        <img class="img-fluid" src="{{ url_for('static', filename='images/boyBg.JPG') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Portfolio" class="bg-light">
    <div class="timeline-container" id="timeline-1">
        <div class="timeline-header">
            <h2 class="timeline-header__title">經歷</h2>
            <h3 class="timeline-header__subtitle">國立台北商業大學在學期間</h3>
        </div>
        <div class="timeline">
            <div class="timeline-item" data-text="五專資管科 入學 (交際)">
                <div class="timeline__content"><img class="timeline__img" src="https://i.imgur.com/zpp8ao5.jpg" />
                    <h2 class="timeline__content-title">2016</h2>
                    <p class="timeline__content-desc">
                        住在桃園的我，第一次來到外縣市學習，開始成為台北商業大學在校生，前三年每天上下課通勤，並且認識了許多同學。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="北商校歌比賽 (團隊合作)">
                <div class="timeline__content"><img class="timeline__img" src="https://i.imgur.com/gv445Yd.jpg" />
                    <h2 class="timeline__content-title">2017</h2>
                    <p class="timeline__content-desc">
                        慶祝本校創校，並增進全體師生對本校優良歷史傳統的認識及支持，每年一度「校歌創作比賽」，
                        從多元化面向認識本校校歌的創始精神，展現北商大莘莘學子青春活力。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="迎新跳舞表演 (展現自我)">
                <div class="timeline__content"><img class="timeline__img" src="https://i.imgur.com/CDG9BoS.jpg" />
                    <h2 class="timeline__content-title">2018</h2>
                    <p class="timeline__content-desc">
                        藉由科系迎新活動，讓喜歡跳舞的我有一次表演的經驗，也認識了非常多學弟妹，是一場非常難忘的經驗。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="資管/國貿 科遊唱歌表演 (外交合作)">
                <div class="timeline__content"><img class="timeline__img" src="https://i.imgur.com/IQM1SFd.jpg" />
                    <h2 class="timeline__content-title">2019</h2>
                    <p class="timeline__content-desc">
                        國貿與資管舉辦的科遊活動，與不同科系的同學經過長時間的討論下，讓大家在兩天活動中產生美好的回憶，
                        我也在此有舞台表演的機會高歌一首。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="加入嘎瑪巴斯社 社團活動參與 (自我認同)">
                <div class="timeline__content"><img class="timeline__img" src="https://i.imgur.com/JxFKi9V.jpg" />
                    <h2 class="timeline__content-title">2020</h2>
                    <p class="timeline__content-desc">
                        三年級下學期在學校工讀時，認識到了嘎瑪巴斯社的成員與約翰老師，
                        因緣際會下便邀請我一同參與活動。身為從小就是都市原住民的我，
                        要怎麼與文化豐富的原住民相處是我的第一大挑戰，而 花生燒 WASANGSHOW 是我進入社團後第一個文化活動。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="五專資管 專題比賽 第三名 (競爭)">
                <div class="timeline__content"><img class="timeline__img" src="https://i.imgur.com/PTjAqhX.jpg" />
                    <h2 class="timeline__content-title">2021</h2>
                    <p class="timeline__content-desc">
                        北商第一個校內比賽，開發手機App，在此經歷前端與後端上提升了不少，
                        加上評審給的意見，學習到更多知識。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="台北商業大學 五專畢業 (提升)">
                <div class="timeline__content"><img class="timeline__img" src="https://i.imgur.com/ZCBcp0m.jpg" />
                    <h2 class="timeline__content-title">2021</h2>
                    <p class="timeline__content-desc">
                        (105 ~ 110) 完成北商五專五年學業，人生準備走向下一個階段，
                        開始充滿許多壓力的我，開始對自己過去所花費的時間分配上做了一些檢討。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="二技資管系 入學 (擴展視野)">
                <div class="timeline__content"><img class="timeline__img" src="https://i.imgur.com/EG6PuuT.jpg" />
                    <h2 class="timeline__content-title">2021</h2>
                    <p class="timeline__content-desc">
                        進入北商二技，許多同學陸陸續續地離開北商，
                        而也來了一批從各縣市的同學到我們當中，
                        我深深感受到更多不同的人所帶來的影響力。
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="二技資管 專題比賽 第三名 (再次挑戰)">
                <div class="timeline__content"><img class="timeline__img" src="https://i.imgur.com/M73uwpV.jpg" />
                    <h2 class="timeline__content-title">1934</h2>
                    <p class="timeline__content-desc">
                        再次面臨校內專題比賽的我慢慢熟悉這種比賽的過程，
                        這次的比賽中，我相信自己可以更多的發揮，達到更好的成績，
                        過程中也是非常辛苦，雖然結果不是預期的樣子，
                        但也讓我看到更多自己的不足，必且從中學習改變。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<h4 id="Life" class="py-5 bg-light" style="height: 900px;">Third heading</h4>

<section id="Contact">
    <div class="container py-5">
        <h1 class="text-center heading">聯繫我.</h1>
        <h2 class="text-center"></h2>
        <p class="text-center">我需要任何的回應</p>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <form action="">
                    <input type="text" name="text" placeholder="你的名字" class="form-control">
                    <br>
                    <input type="Email" name="Email" placeholder="你的信箱" class="form-control">
                    <br>
                    <textarea rows="6" placeholder="訊息" required="" class="form-control"></textarea>
                    <br>
                    <center>
                        <button class="btn btn-outline-info w-50">發送</button>
                    </center>
                    <br><br><br><br>
                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <br>
                <p class="font-monospace fs-5"><i class="fa fa-map-marker"></i> &nbsp;&nbsp; 桃園市中壢區 </p>
                <p class="font-monospace fs-5"><i class="fa fa-phone"></i> &nbsp;&nbsp; 09574141514 </p>
                <p class="font-monospace fs-5"><i class="fa fa-envelope"></i> &nbsp;&nbsp; amisleo000@gmail.com </p>
                <hr>
                <div class="row">
                    <div class="col">
                        <a class="font-monospace float-start fs-5" href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                    <div class="col">
                        <a class="font-monospace float-start fs-5" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="col">
                        <a class="font-monospace float-start fs-5" href="#"><i class="fab fa-google-plus-g"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote('{{ note.id }}')">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{% endblock %}