{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section id="Home" class="overflow-hidden">
    <div class="container py-5">
        <div class="row mt-5 text-light">
            <div class="col-xl-9 col-lg-8 order-lg-2 py-3">
                <h1 class="scroll-animation-right">陳友亮 </h1>
                <p>國立台北商業大學 二技資訊管理系</p>

                <div class="row pim">
                    <div class="col-md-6">
                        <p>生日 : <span>2000年10月24日</span></p>
                        <p>性別 : <span>男</span></p>
                        <p>連絡電話 : <span>0974141514</span></p>
                    </div>
                    <div class="col-md-6">
                        <p>Email : <span>amisleo000@gmail.com</span></p>
                        <p>學歷 : <span>學士學位</span></p>
                        <p>居住地 : <span>桃園市</span></p>
                    </div>
                </div>
                <div class="btns">
                    <input type="button" class="btn1" value="Download C.V">
                    <input type="button" class="btn2" value="Contact Us">
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 scroll-animation-left order-lg-1 ">
                <img src="{{ url_for('static', filename='images/handsomeBoy.JPG') }}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<section id="About" class="py-5 overflow-hidden">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12 order-lg-2">
                <h1 class="scroll-animation-right">About Me.</h1>
                <p>你好!我是<span class="font-weight-bold">陳友亮</span></p>
                <p class="py-3 scroll-animation-bottom"> 目前為臺北商業大學資訊管理系大四的在學生
                    個性活潑開朗，喜歡與人聊天，在社交媒體上時常分享生活大小事，
                    在學期間對網頁前端 HTML、CSS、JavaScript 有相關經驗，
                    因本身對於影音製作以及視覺藝術有極大的熱忱，所以在前端網頁開發上非常有興趣。
                    這是二技校內專題所製作的網站，「警醒式遠距教學系統」。
                    經過這次經驗，發現設計網頁到開發的過程，時間成本非常高，
                    所以現在主要都在使用 Bootstrap 來開發網頁。
                </p>
                <div class="progress">
                    <div class="pro-value1 px-2">
                        <p>HTML / CSS <span class="text-white float-end">95%</span></p>
                    </div>
                </div>
                <div class="progress my-3">
                    <div class="pro-value2 px-2">
                        <p>PHP / MYSQL <span class="text-white float-end">80%</span></p>
                    </div>
                </div>
                <div class="progress">
                    <div class="pro-value3 px-2">
                        <p>BOOTSTRAP <span class="text-white float-end">98%</span></p>
                    </div>
                </div>
                <div class="progress my-3">
                    <div class="pro-value4 px-2">
                        <p>JAVASCRIPT / JQUERY <span class="text-white float-end">92%</span></p>
                    </div>
                </div>

                <div>
                    <span class="rounded-pill px-2" style="background-color: #f3f3f3; color: #7e7e7e;">反思自省</span>
                    <span class="rounded-pill px-2" style="background-color: #f3f3f3; color: #7e7e7e;">樂於學習</span>
                    <span class="rounded-pill px-2" style="background-color: #f3f3f3; color: #7e7e7e;">享受生活</span>
                    <span class="rounded-pill px-2" style="background-color: #f3f3f3; color: #7e7e7e;">自主思考</span>
                    <span class="rounded-pill px-2" style="background-color: #f3f3f3; color: #7e7e7e;">熱忱與活力</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Learn" class="py-5 bg-light sevices">
    <div class="container py-5">
        <h1 class="text-center pb-5">Learn.</h1>
        <div class="row pt-5 mt-30">
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="#">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;">
                        <i class="fa fa-desktop fa-3x head-icon"></i>
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">前端程式語言</h3>
                        <p class="card-text text-sm">HTML、CSS 是最常接觸的前端語言，
                                                    而開始認識 JavaScript 這三大前端語言之後，慢慢愛上了它，
                                                喜歡視覺藝術的我，對動態效果、動畫的呈現深深吸引住了，
                                            雖然是喜歡，但主要是與使用者互動，讓每一位使用者得到最好的閱覽體驗。</p><span
                            class="text-sm text-uppercase font-weight-bold">了解更多<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="#">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;">
                        <i class="fa-brands fa-bootstrap fa-3x head-icon"></i>
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">Bootstrap</h3>
                        <p class="card-text text-sm">要做 RWD 響應式設計，我推薦 Bootstrap ，這是我目前開發網頁最喜愛的前端框架之一，
                                                    可以同時套用在不同平台上，提升了開發的效率，降低時間成本。 Bootstrap 
                                                    + 自己寫的 CSS ，完美打造出客製化的網站。
                        </p><span
                            class="text-sm text-uppercase font-weight-bold">了解更多<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="#">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;">
                        <i class="fa-solid fa-database fa-3x head-icon"></i>
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">Database</h3>
                        <p class="card-text text-sm"> 先從Office 工具最基本的 Excel 資料分析 與 Access 資料庫 學起，
                                                    再來是最熟悉的 MySql ，搭配 Navicat 圖形化資料庫管理及發展軟體，
                                                    最後運用 Firebase 搭配 Android 開發，透過免費的開發下而接觸學習 NoSQL。
                        </p><span
                            class="text-sm text-uppercase font-weight-bold">了解更多<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="#">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa-solid fa-code fa-3x head-icon"></i>
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">後端程式語言</h3>
                        <p class="card-text text-sm">曾學過的語言有 Visual basic 、 C語言 、 在 Unity 上編寫的腳本 C# 、 
                                                    Java 、 Node.js 以及 目前最流行的 Python 語言，</p><span
                            class="text-sm text-uppercase font-weight-bold">了解更多<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="#">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;"><i class="fa-solid fa-mobile fa-3x head-icon"></i></div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">Android 開發</h3>
                        <p class="card-text text-sm">五專專題曾用過 Android Studio 開發手機 App ， 打造出完美斷食計畫，搭配優美UI介面，幫助使用者更快設定好自己訂製的計畫。

                        </p><span
                            class="text-sm text-uppercase font-weight-bold">了解更多<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="#">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center"
                        style="width: 90px; height: 90px; margin-top: -45px;">
                        <i class="fa fa-video-camera fa-3x head-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">影音製作</h3>
                        <p class="card-text text-sm">因個人愛好而言，拍攝照片及影片，再將其後製成自己喜歡的樣子，就像 UI 設計一樣，讓整個畫面變得更好看更有藝術感。
                            音樂也是不可少的，打造出視覺與聽覺上的衝擊。
                        </p><span
                            class="text-sm text-uppercase font-weight-bold">了解更多<i
                                class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="Portfolio" class="py-5">
    <div class="container">
        <h1 class="text-center">Portfolio.</h1>
        <p class="text-center pb-5">My Last Projects.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="portfolio-item-inner box-shadow p-2">
                    <div class="portfolio-img">
                        <img class="img-fluid" src="{{ url_for('static', filename='images/boyBg.JPG') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portfolio-item-inner box-shadow p-2">
                    <div class="portfolio-img">
                        <img class="img-fluid" src="{{ url_for('static', filename='images/boyBg.JPG') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<h4 id="Life" class="py-5 bg-light" style="height: 900px;">Third heading</h4>
<p>...</p>
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote('{{ note.id }}')">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{% endblock %}